/* Estilo geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #555;
}

.logo img {
    height: 50px;
    width: auto;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 10px;
}

.header_nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.header_nav ul li a:hover {
    background-color: #555;
    color: #ffcc00;
}
